<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="border-gray">
    <p><%=params[:question]%></p>
    <p>-You</p>
  </div>
  <div class="border-gray box">
    <p><%=@answer%></p>
    <p>-Your Coach</p>
  </div>
  <div class='link'>
  <%=link_to "Ask another question", ask_path %>
  </div>
</div>
